.board {
    --board-row-size: calc(100% / var(--board-rows));
    --board-col-size: calc(100% / var(--board-cols));

    border: 1px solid black;
    width: 100%;
    aspect-ratio: 1;
    background-image: repeating-conic-gradient(lightgray 0% 25%, white 0% 50%);
    background-size: calc(var(--board-col-size) * 2) calc(var(--board-row-size) * 2);
    position: relative;
}