.piece {
    position: absolute;
    width: var(--board-col-size);
    height: var(--board-row-size);
    top: calc(var(--board-row-size) * var(--piece-row) - (var(--board-row-size) / 2));
    left: calc(var(--board-col-size) * var(--piece-col) - (var(--board-col-size) / 2));
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.piece img {
    width: 80%;
    height: 80%;
}